@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.body {
  min-width: 800px;
  font-family: "Montserrat", sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}
ul {
  list-style-type: none;
  padding: 5px;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  min-width: 1000px;
  font-family: "Montserrat", sans-serif;
}
.top-container {
  display: flex;
  flex-direction: column;
  grid-column: 2/6;
}
input {
  height: 30px;
  width: 60%;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
}
.top {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto auto auto;
  justify-items: left;
  align-items: center;
  height: 40%;
  background-color: #e7e5e4;
}
.top img {
  margin: 10px 10px 10px 40px;
}
.top p {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 250px 0 15px;
}
.top input {
  grid-column: 2 / span 2;
  width: 90%;
}
.avatar-upper {
  width: 50px;
  height: 50px;
}
.avatar-lower {
  width: 80px;
  height: 80px;
}
.hello-message {
  text-align: left;
  width: 90%;
}
.bottom {
  display: grid;
  grid-template-columns: 0.3fr 1fr repeat(3, 0.1fr);
  background-color: #e7e5e4;
  justify-items: center;
  align-items: center;
  height: 60%;
}
.left-sidebar {
  grid-column: 1;
  grid-row: 1/7;
  background-color: #292524;
}
.left-sidebar li {
  color: #e7e5e4;
  font-size: 2rem;
  margin-bottom: 8px;
}
.left-sidebar li:hover {
  color: #fafaf9;
}
.left-sidebar h1 {
  color: #e7e5e4;
  font-size: 2.5rem;
  margin-left: 10px;
  text-align: center;
}
.left-sidebar ul {
  margin-left: 20px;
}
.left-sidebar img {
  height: 45px;
  width: 45px;
  margin-right: 20px;
}
.panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column: 2/6;
  grid-row: 2/7;
}
.projects {
  grid-column: 1/3;
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  min-height: fit-content;
  flex-grow: 1;
}
.project {
  background-color: aqua;
}
.info {
  grid-row: 1/4;
}
.info h2 {
  margin-top: 10;
  text-align: center;
}
.info h3 {
  margin: 0;
  text-align: center;
}
.info-alert {
  padding: 15px;
  margin: 10px;
  border-top: solid gainsboro 2px;
  background-color: antiquewhite;
}
.trending {
  grid-row: 4/6;
}
.trending h2 {
  margin-top: 10;
  text-align: center;
}
.user {
  display: flex;
  padding: 20px;
}
.user p {
  flex: 1;
  margin-left: 20px;
}
.user img {
  width: 50px;
  height: 50px;
}
.users {
  background-color: antiquewhite;
}
