.body {
  min-width: 800px;
}
ul {
  list-style-type: none;
  padding: 5px;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: solid 1px black;
  min-width: 1000px;
}
.top-container {
  display: flex;
  flex-direction: column;
  grid-column: 2/6;
  border: solid 1px black;
}
input {
  height: 30px;
  width: 60%;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
}
.top {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  border: solid 1px black;
  background-color: aquamarine;
  justify-items: left;
  align-items: center;
}
.avatar-upper {
  width: 50px;
  height: 50px;
}
.avatar-lower {
  width: 80px;
  height: 80px;
}
.hello-message {
  text-align: left;
  width: 90%;
}
.bottom {
  display: grid;
  grid-template-columns: 0.3fr 1fr repeat(3, 0.1fr);
  border: solid 1px black;
  background-color: aquamarine;
  justify-items: center;
  align-items: center;
}
.left-sidebar {
  grid-column: 1;
  grid-row: 1/7;
  border: solid 1px black;
  background-color: aquamarine;
}
.panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column: 2/6;
  grid-row: 2/7;
  border: solid 1px black;
}
.projects {
  grid-column: 1/3;
  grid-row: 1/6;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  border: solid 1px black;
  gap: 20px;
  justify-items: center;
  min-height: fit-content;
  flex-grow: 1;
}
.project {
  background-color: aqua;
}
.info {
  grid-row: 1/4;
  border: solid 1px black;
}
.trending {
  grid-row: 4/6;
  border: solid 1px black;
}
